/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color: #f9f9f9; */
    color: darkblue;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    /* background-color: #abadb8; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 2em;
    margin-bottom: 10px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
}

button {
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 40%;
    margin: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

#clearButton, #addButton, #subtractButton, #multiplyButton, #divideButton, #equalButton, #decimalButton {
    font-weight: bold;
}
